.input_container {
  width: 100%;
  height: 100%;
}

.input_container input {
  width: 100%;
  /* height: 100%; */
  border: none;

  outline:none;

  text-align: center;

  background: transparent;
}

.input_container input::placeholder {
  text-align: center;
}

.input_container input:focus::placeholder {
  color: transparent;
}
