.header {
  width: 100%;
  background: #2B2F3A;

  display: flex;
  flex-direction: row;
}

.logo_area {
  display: flex;
  width: 440px;
  height: 100%;
  padding: 4px 16px;
  align-items: center;
  gap: 10px;

  border-bottom-right-radius: 64px;
  background: #FF8000;
  z-index: 1;
}

.title {
  display: flex;
  margin: auto 32px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.title__website {
  color: #E8E9E9;
  margin-right: 6px;
}

.title__page {
  color: #808080;
}

.user {
  margin: auto 32px auto auto;
  display: flex;
  flex-direction: row;
}

.user__button {
  background: none;
  outline: none;
  box-shadow: none;

  width: auto;
  height: 56px;

  color: #E8E9E9;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  padding: 12px;

  border-radius: 100px;
  border: 3px solid #FF8000;
  background: #2B2F3A;

  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
  gap: 8px;
}

