.header {
  width: 100%;
  background: #2B2F3A;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo_area {
  display: flex;
  width: 300px;
  height: 100%;
  padding-left: 16px;
  align-items: center;
  gap: 10px;

  border-bottom-right-radius: 64px;
  background: #FF8000;
  z-index: 1;
}

.title {
  margin-left: 32px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
}


.title * {
  text-decoration: none;
  color: #FFF;

  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}