.planner_big {
  width: 100%;
  height: 100%;
  /* overflow-x: auto; */
  /* overflow-y: hidden; */
  overflow: auto;
  border: none;
  border-radius: 20px;

  display: inline-block;

  background: #F4F5F8; 
}