/* .planner .rbc-active {
  color: red;
} */

.planner * {
  font-family: 'Onest', sans-serif;
  color: #2B2F3A;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  line-height: 20px;

  --column-min-width: 200px;
}

.planner .rbc-calendar {
  height: fit-content;
  width: fit-content;
}

.planner .rbc-time-view {
  border: none;
}

.planner .rbc-time-header {
  /* position: absolute; */
  /* width: max-content; */
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 40px;
}

.planner .rbc-time-header-gutter {
  background: #FF8000;
}

.planner .rbc-time-header-content {
  border: none;
  border-left: 1px solid #FF8000;
}

.planner .rbc-header {
  min-width: var(--column-min-width);
  display: flex;
  justify-content: center;
  align-items: center;

  background: #F9BB7C;

  border: none;
  border-right: 1px solid #F9BB7C;
  border-left: 1px solid #F9BB7C;
}

.planner .rbc-time-content {
  /* overflow-y: auto; */
  overflow-y: hidden;
  flex-shrink: 0;
  border-top: none;
  border-left: 1px solid #FABB7C;
}

.planner .rbc-time-column {
  min-width: var(--column-min-width);
  border-right: 1px solid #F9BB7C;
  border-left: 1px solid #F9BB7C;
}

.planner .rbc-time-content .rbc-time-gutter {
  min-width: 0;
}

.planner .rbc-time-view .rbc-row {
  min-height: 40px;
}

.planner .rbc-time-gutter {
  background: #FFFAD9;
}

.planner .rbc-time-gutter .rbc-time-slot {
   display: flex;
   align-items: center;
   justify-content: center;
}

.planner .rbc-timeslot-group {
  min-height: 80px;
  border: none;
  border-bottom: 1px solid #F9BB7C;
}

.planner .rbc-time-slot {
  border-top: 1px solid #F9BB7C;
}


.planner .rbc-events-container {
  margin-right: 0;
}

.planner .rbc-allday-cell {
  display: none;
}