/* .planner .rbc-active {
  color: red;
} */

.planner {
  font-family: 'Onest', sans-serif;
  color: #2B2F3A;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
}

.planner .rbc-calendar {
  height: 100%;
}

.planner .rbc-events-container {
  margin-right: 0;
}

.planner .rbc-allday-cell {
  display: none;
}

.planner .rbc-header {
  border-bottom: none;
}