.sidebar {
  position: relative;
  height: 100%;
  width: var(--sidebar-width);


  background: #2B2F3A;

  display: flex;
  flex-direction: column;
  flex-grow: 0;

  padding-bottom: 64px;

  transition: width 0.5s ease-in-out;
}

.opened {
  width: var(--sidebar-width-open);
}

.decoration_top {
  position: absolute;
  top: 0;
  left: 0;
  width: 64px;
  height: 128px;

  border-top-left-radius: 64px;

  background: rgba(0, 0, 0, 0);

  box-shadow: 0 -64px 0 0 #FF8000; 
}

.nav {
  z-index: 1;
}

.nav ul {
  list-style: none;
  padding: 44px 12px 0;
}

.nav ul li{
  padding: 12px 0;
  overflow: hidden;
}

.link {
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;

  padding: 8px;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;

  color: #E8E9E9;
}

.link svg {
  min-width: 20px;
  max-width: 20px;
  min-height: 20px;
  max-height: 20px;

  color: #E8E9E9;
}

.link:hover, .link:hover svg {
  color: #FF8000;
}

.notifications {
  min-width: 20px;
  min-height: 20px;
  width: 20px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #FF8000;
  border-radius: 100%;
}

.link:hover .notifications {
  color: #E8E9E9;
}

.selected {
  background: #FF8000;
  border-radius: 10px;
}

.selected:hover, .selected:hover svg {
  color: #2B2F3A;
}

.selected .notifications {
  background: #2B2F3A;
}

.divider {
  width: 100%;
  height: 2px;
  background: #E8E9E9;

  margin: 12px 0;
}

.btn_hide {
  outline: none;
  box-shadow: none;
  border: none;

  background: #2B2F3A;

  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;

}


.hidden {
  display: none;
}