.container {
  max-height: calc(100vh - 64px - 32px - 80px);
  position: relative;

  overflow: auto;

  border: none;
}

.hidden_box {
  border: 2px solid #F9BB7C;
  overflow: hidden;
}


.table {
  border-collapse: collapse;
  width: 100%;
}

.table thead {
  position: sticky;
  top: 0;
  z-index: 10;
}

.table tr {
  height: 46px;
  min-height: 46px;
}

.table th, .table td {
  /* width: fit-content; */
  /* max-width: 300px; */

  color: #000;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.table th > *, .table td > * {
  height: 100%;
  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;


  border-right: 2px solid #F9BB7C;
  border-bottom: 2px solid #F9BB7C;
}

.table th:last-child > *, .table td:last-child > * {
  border-right: none;
}

.table tr:last-child td > * {
  border-bottom: none;
}


.table th {
  background-color: #F9BB7C;
}

.table th:first-child, .table td:first-child {
  position: sticky;
  left: 0;
  z-index: 5;
}

.table th:first-child {
  background-color: #FF8000;
}

.table th:first-child > * {
  border-right: none;
  border-bottom: none;
}

.table tbody tr:hover {
  background-color: rgba(255, 255, 255, 1);
}

.table td {
  position: relative;
  background-color: #F4F5F8;
}

.table td:first-child {
  background-color: #FFFAD9;
}

.table td > * {
  /* padding-top: 9px; */
  height: 100%;
}