.checkbox_container .checkbox {
  margin: 0;
}

.checkbox_container .checkbox .state label:before,
.checkbox_container .checkbox .state label:after,
.checkbox_container .checkbox.p-icon input:checked ~ .state label:before {
  border-color: #FF8000;
}

.checkbox .state svg {
  color: #FF8000;
}
