@import '/node_modules/pretty-checkbox/src/pretty-checkbox.scss';
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

* {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
  
  font-family: 'Onest', sans-serif;
  font-size: var(--default-font-size);
  font-weight: 400;
}

html {
  width: 100vw;
  max-width: 100vw;
  height: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
del, dfn, em, img, ins, kbd, q, s, samp,
a, abbr, acronym, address, big, cite, code,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
  line-height: 1;
  margin: 0;
  width: 100vw;
  max-width: 100vw;
  height: 100%;
}

button {
  cursor: pointer;
}

#root {
  font-family: 'Onest', sans-serif;
  font-size: var(--default-font-size);
  font-weight: 400;
  color: #000;
  width: 100vw;
  max-width: 100vw;
  height: 100%;
  background-color: #f4f5f8;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 2px;
  background: rgba(43, 43, 43, 0.11);
}

::-webkit-scrollbar-thumb {
  width: 10px;
  height: 10px;
  border: 1px solid rgba(43, 43, 43, 0.11);
  border-radius: 10px;
  background: #FFBF80;
}
