.tools {
  width: 100%;
  height: 56px;
  display: flex;
  flex-direction: row;
  padding: 12px 10px;
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: center;

  gap: 10px;
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: center;

  gap: 10px;

  margin-left: auto;
  padding: 0 12px;
}